# info
APP_NAME="GoFreelance: AI Models"
APP_VERSION="V1"

# configs
RESULTS_PATH=""
TRAINED_MODELS_PATH=""
JOB_DESCRIPTION_ENHANCEMENT_DATA_PATH=""

# secrets
GROQ_API_KEY=""
WEAVIATE_URL=""
WEAVIATE_API_KEY=""
